# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Project information, site metadata
site_name: Community Lorebooks
site_url: "https://lorebooks.wiki"
site_author: Recap Time Squad and contributors
site_description: >-
  An subdomain service primarily for digital gardens and wikis,
  maintained by @recaptime-dev.

# Lock the use-directory-urls flag
use_directory_urls: true

# Repository
repo_url: https://github.com/lorebooks-wiki/homepage
edit_uri: blob/main/src/
docs_dir: src

# Copyright
copyright: >-
  Copyright &copy; 2021-present Recap Time Squad and its contributors, website content
  licensed under CC BY-SA 4.0.

# themeing
theme:
  # https://github.com/squidfunk/mkdocs-material
  name: material
  custom_dir: overrides

  # for the sidebar/site icon on navbar
  logo: assets/img/lorebooks-wiki-icon.png
  favicon: assets/img/lorebooks-wiki-icon.png

  # theme for dark modes
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

# Extensions

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search
  # to have revision dates on the build via git logs, set CI var to true
  - git-revision-date-localized:
      enable_creation_date: !ENV [CI, false]
      enabled: !ENV [CI, false]
      fallback_to_build_date: true
  - redirects:
      redirect_maps:
        'tos.md': 'legal/tos.md'
        'get-started.md': 'docs/getting-started.md'
        "getting-started.md": "docs/getting-started.md"
        "docs/reserved-subdomains.md": "docs/reference/reserved-subdomains.md"

# Page Tree
nav:
  - Hub:
    - index.md
    - faqs.md
    - directory.md
    - donate.md
  - Docs:
    - docs/index.md
    - "Getting Started": docs/getting-started.md
    - "Issue tracker": docs/issue-tracker.md
    - Troubleshooting: docs/troubleshooting.md
    - Reference:
      - "Reserved subdomains": docs/reference/reserved-subdomains.md
  - Project Financial Records: https://hcb.hackclub.com/lorebooks-wiki
  - Legal:
    - legal/index.md
    - Hosting ToS: legal/tos.md
    - Privacy Policy:
      - legal/privacy/index.md
      - RecapTime.dev docs sites: legal/privacy/recaptime-dev.md
    - Community Code of Conduct: https://policies.recaptime.dev/code-of-conduct
  - RecapTime.dev Homepage: https://recaptime.dev

extra:
  generator: true # DO NOT DISABLE THIS!
  hcb:
    org_slug: lorebooks-wiki
    org_name: Community Lorebooks
    parent_org_slug: recaptime-dev
    parent_org_name: Recap Time Squad
  social:
    - icon: material/bank-outline
      link: https://hcb.hackclub.com/recaptime-dev
      name: See our finances on HCB
    - icon: simple/opencollective
      link: https://opencollective.com/recaptime-dev
      name: See our finances on Open Collective
    - icon: simple/github
      link: https://github.com/lorebooks-wiki
      name: Explore our reposiotries on GitHub
  footer_links:
    - label: Terms of service
      href: /legal/tos
    - label: Privacy Policy
      href: https://policies.recaptime.dev/privacy
    - label: Transparency Reports
      href: https://transparency.recaptime.dev

extra_css:
  - assets/stylesheets/theme.css